

.field_with_errors{
	display:inline;
}

.error{
	color:red;
}





table td{
padding:8px 5px 8px 5px;
text-align: left;
border:1px solid rgba(184,243,85,0.3);
  word-wrap: normal;
     border-radius: 2px;
   }



   table tr{
   }

   table{
    width:612px;
  border-collapse: separate;
  border-spacing: 0;
  text-shadow: 0 1px 0 #fff;
  color: #2a2a2a;
  background: #fafafa;  
 
background-image: -moz-linear-gradient(top, #fff, #eaeaea, #fff); /* Firefox 3.6 */
  background-image: -webkit-gradient(linear,center bottom,center top,from(#fff),color-stop(0.5, #eaeaea),to(#fff)); 
   
   border-radius: 20px;

font-size: 14px;
   }

   div.base{
width:1024px;
margin:0 auto;
padding:20px;
   }

   .body_text{
    width:98%;
    height:80px;
   }


a {
    width: 180px; /* ширина ссылок */
    color: #303030; /* цвет текста */
    background:   #C0C0C0 ; /* фон */
    text-decoration: none; /* убираем подчеркивание */
    text-align: center; /* текст по центру */
    /* border: 1px #000 solid; /* стили рамки вокруг ссылок */
    padding: 3px 6px 3px 6px; /* внутренние отступы */

    border-radius:6px;
  -webkit-border-radius:6px;
  -moz-border-radius:5px;
  -khtml-border-radius:10px;
  font-size: 16px;
}
  a:hover {
    background: #303030;
    color: #fff; /* фон ссылки под курсором */
   }

   a.a_post{
padding: 1px 10px 1px 10px;
background:   #6666CC ;
color: white;
   }

   a.a_post:hover{
color: black;
   }